{% extends 'test.html' %}{% block title %}About Us | AISERS{% endblock %}
{% block content %}
<h1>About AISERS</h1>
<div class="group">
    <img src="../static/images/aisers-removebg-preview.png" height="500" width="500" alt="pic">
    <h1>AISERS Organizational Chart</h1>
    <img src="../static/images/423735796_2170990166633566_8378250858840806498_n.jpg" width="500" alt="org chart">
</div>
<section>
    <h2>AISERS Mission</h2>
    <p>
        To provide empowerment, assistance, and development to students that will mold them into responsible and well-rounded  individuals who aspire to attain their full potential locally and globally. Showcase the capabilities of the department performed inside and outside of the campus premises through academic and non-academic activities.
    </p>
    <h2>AISERS Vision</h2>
    <p>
        To foster a sense of belonging and camaraderie among students of Bachelor of Science in Aviation Information System in order to build a community within the department. To promote mental health awareness and assist students in discovering, developing, and cultivating their passion; whereas to support the department in producing  a fully equipped and globally competitive professionals who will soon take part in the aviation industry and other prospect career paths.
    </p>
</section>
{% endblock %}