{% extends 'test.html' %}{% block title %}Announcements | AISERS{% endblock %}

{% block content %}
<br>
<h1>Announcements</h1>
<section>
    <h2>PhilSCA Office of Student Affairs:</h2>
    <div class="container">
        <img src="../static/images/a1.jpg" alt="pic" width="600" style="object-fit: contain;">
        <p>
            <em>REPOST | ATTENTION STUDENTS!!</em> <br>
            The Office of the Auxiliary Services and Resource Generation is conducting a survey to gather your valuable feedback on the use of test booklets during major examinations in our College. Your responses will help them evaluate its usefulness, economical value, and viability, and determine whether any changes are necessary. 
            Click the link below for the survey.
            <br>
            <a href="https://forms.gle/xkbP9j9DwQfPB1Ur7" target="_blank">https://forms.gle/xkbP9j9DwQfPB1Ur7</a>
        </p>
    </div>
</section>

{% endblock %}