{% extends 'test.html' %}{% block title %}Contact Us | AISERS{% endblock %}
{% block content %}
<br>
<h1>Website and Social Media Links</h1>
<div style="display: flex; align-items: center;">
    <img src="../static/images/icons8-gmail-150.png" alt="gmail" width="150" height="150">
    <div style="display: flex; flex-direction: column;">
        <a href="mailto:aisersorganization@gmail.com">
        <span>aisersorganization@gmail.com</span></a>
        <p>Gmail</p>
    </div>
</div>

<div style="display: flex; align-items: center;">
    <img src="../static/images/icons8-facebook-150.png" alt="fb" width="150" height="150">
    <div style="display: flex; flex-direction: column;">
        <a href="https://www.facebook.com/aisersphilsca">
            <span>AISERS - Philsca Villamor</span>
            </a>
            <p>Facebook</p>
    </div>
</div>

<div style="display: flex; align-items: center;">
    <img src="../static/images/icons8-instagram-150.png" alt="ig" width="150" height="150">
    <div style="display: flex; flex-direction: column;">
        <a href="https://www.instagram.com/aisersphilsca">
            <span>AISERS</span>
            </a>
            <p>Instagram</p>
    </div>
</div>
{% endblock %}