{% extends 'test.html' %}{% block title %}Events | AISERS{% endblock %}
{% block content %}
<br><br>

<section>
    <h1 id="head">JISSA: PYTHON WEB DEVSCOPS HIGHLIGHTS</h1>
    <div class="grid-container">
        <img src="../static/images/jissa-1.jpg" alt="pic" width="500" height="300">
        <img src="../static/images/jissa-2.jpg" alt="pic" width="500" height="300">
        <img src="../static/images/jissa-3.jpg" alt="pic" width="500" height="300">
    </div>
    <p style="text-wrap: wrap;">
        On <b>May 18, 2024</b>, The <b><i>AISERS Organization</i></b> attended the <b>JISSA - NU APC</b>. Along the event are other participants from student organizations of other SUC and universities.🤝🏻✨ The event highlighted teaching the participants about Python web development, as well as <i>web safety and security</i>. This includes seminars about fundamentals of website development and how to establish proper security measures and SQL injection. 👨🏻‍💻🐍
        Here are some of the highlights of that fruitful event. Again, we would like to thank 
        <a href="https://www.facebook.com/APC.JISSA">Junior Information Systems Security Association - APC Chapter</a>
        for inviting us! 💗
    </p>
</section>

{% endblock %}