{% extends "test.html" %}
{% block title %}Home | AISERS{% endblock%}

{% block content %}
<main>
    <div class="grid">
        <img src="../static/images/philsca logo.png" alt="philsca" width="200">
        <img src="../static/images/aisers-removebg-preview.png" alt="aisers" width="300" style="margin-top: -350px;">
        <img src="../static/images/ics.png" alt="ics" width="250">
    </div>
    <div class="right">
        <h1>Welcome to the AISERS Organization Webpage!</h1>
        <p class="subtext">
            This is the official webpage of the AISERS Organization, a student organization of the Philippine State College of Aeronautics (PHILSCA).
        </p>
        <section>
            <h2>PhilSCA Vision Statement</h2>
            <p>
                PhilSCA is a leading professional aviation education institution with a balanced liberal arts and technology
            </p>
            <br>
            <h2>PhilSCA Mission Statement</h2>
            <p>
                PhilSCA continuously produces industry-ready and world-class graduates through quality instruction, research, extension, resource management and linkages
            </p>
            <h2>PhilSCA Core Values</h2>
            <p>

            </p>
        </section>
    </div>
</main>
{% endblock %}