<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/css/style.css')}}">
    <link rel="shortcut icon" href="../static/images/aisers-removebg-preview.png" type="image/x-icon">
</head>
<body>
    <aside class="sidebar">
      <div class="logo-details">
        <img src="../static/images/aisers-removebg-preview.png" alt="logo-img" class="logo-name">
        <div class="logo-name">AISERS Organization</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class="bx bx-search">
            <input type="search" placeholder="Search">
          </i>
          <span class="tooltip">Search</span>
        </li>
        <li>
          <a href="{{ url_for('home') }}">
            <i class="bx bx-home">
              <span class="links_name">
                Home</span>
              <span class="tooltip">Home</span>
            </i>
          </a>
        </li>
        <li>
          <a href="{{ url_for('dashboard') }}">
            <i class="bx bx-grid-alt">
              <span class="links_name">Dashboard</span>
              <span class="tooltip">Dashboard</span>
            </i>
          </a>
        </li>
        <li>
          <a href="{{ url_for('announcement') }}">
            <i class="bx bx-info-circle">
              <span class="links_name">
                Announcements</span>
              <span class="tooltip">Announcements</span>
            </i>
          </a>
        </li>
        <li>
          <a href="{{ url_for('prog_and_events') }}">
            <i class="bx bx-calendar-event">
              <span class="links_name">Programs / Events</span>
              <span class="tooltip">Programs and Events</span>
            </i>
          </a>
        </li>
        <li>
          <a href="{{ url_for('about') }}">
            <i class="bx bx-universal-access">
              <span class="links_name">About AISERS</span>
              <span class="tooltip">About</span>
            </i>
          </a>
        </li>
        <li>
          <a href="{{ url_for('contact') }}">
            <i class="bx bx-conversation">
              <span class="links_name">Contact Us</span>
              <span class="tooltip">Contact Us</span>
            </i>
          </a>
        </li>
        <li class="profile">
          <div class="profile-details">
            <!--insert python code to call user image (if necessary)-->
            <img src="#" alt="user">
            <div class="user-info">
              <div class="name">
                <!--insert python code to call username-->
                name
              </div>
              <div class="position">
                <!--insert python code to call position-->
                position
              </div>
            </div>
          </div>
          <i class="bx bx-log-out" id="logout"></i>
        </li>
      </ul>
    </aside>
    <div class="home-section">
      <div class="text">
      {% block content %}
      {% endblock %}
      </div>
    </div>
    <script defer src="{{ url_for('static', filename='../static/js/index.js') }}"></script>
</body>
</html>