{% extends "test.html" %}
{% block title %}Training and Development | AISERS{% endblock %}
{% block content %}
<h1>Modules</h1>

<section>
    <div class="card">
        <div class="container">
            <div class="left">
                <img src="../static/images/ics-mod1.jpg" width="500" alt="mod1">
            </div>
            <div class="right margin">
                <h2>Module: Leadership Training</h2>
                <span class="card-subtitle">Skills training
                    <br>
                    <i>earn a certificate</i>
                </span>
                <div class="progress-bar">
                    <div class="progress"></div>
                    <span class="percent">0%</span>
                </div>
                <p>In this module, members will undergo leadership training webinars to enhance your leadership skills. The seminar will be hosted by [name]. Completion of this Module will award you with a digital certificate (you may request for a hardcopy once training is complete).</p>
                <button class="btn">
                    Start Module
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <div class="left">
                <img src="../static/images/mod2.jpg" width="500" alt="mod1">
            </div>
            <div class="right margin">
                <h2>Module: Community Engagement</h2>
                <span class="card-subtitle">Soft skills training
                    <br>
                    <i>earn a certificate</i>
                </span>
                <div class="progress-bar">
                    <div class="progress"></div>
                    <span class="percent">0%</span>
                </div>
                
                <p>In this module, members will undergo community engagement seminars. There will be readings of community / barangay ordinances to be familiarized with the rules and regulations of Barangay 183. Completion of this Module will award you with a digital certificate (you may request for a hardcopy once training is complete).</p>
                <button class="btn">
                    Start Module
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="container">
            <div class="left">
                <img src="../static/images/rcyc.jpg" width="500" alt="mod1" class="img-card">
            </div>
            <div class="right margin">
                <h2>Survival Series: Basic Life Support</h2>
                <span class="card-subtitle">Skills training | Safety
                    <br>
                    <i>earn a certificate & Red Cross Youth membership ID</i>
                </span>
                <div class="progress-bar">
                    <div class="progress"></div>
                    <span class="percent">0%</span>
                </div>
                <p>Members will undergo basic life support training hosted by the Philippine Red Cross: Pasay City Chapter. Completion of this course will award you with a digital certificate (you may request for a hardcopy once training is complete) and membership ID from the Philippine Red Cross.</p>
                <button class="btn">
                    Start Module
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}